:root {
    --wolai-bg: #ffffff;
    --wolai-hover-bg: #EEECEC;
    --wolai-basic-color: rgba(255, 255, 255, 0.7);
    --wolai-icon-hover-bg: #eae4e4;
    --wolai-border-color: rgba(38, 22, 22, 0.1);
    --wolai-no-data-color: #bbb;
    --wolai-input-color: #37352f;
    --wolai-input-bg: rgba(242, 241, 238, 0.6);
    --wolai-caret-color: #000000;
    --wolai-placeholder-color: #9C9292;
    --wolai-title-placeholder-color: rgba(55, 53, 47, 0.2);
    --wolai-link-page-color: #BCB3B3;
    --wolai-link-time-color: #CFC7C7;
    --wolai-color-gray: rgba(55, 53, 47, 0.6);
    --wolai-disabled-bg: rgba(0, 0, 0, 0.05);
    --wolai-disabled-color: #ccc;
    --wolai-scrollbar-color: #D2CFCF;
    --wolai-scrollbar-hover-color: #6C6A6A;
    --wolai-title-color: #312727;
    --wolai-desc-color: #BCB3B3;
    --wolai-quote-border-color: #ddd;
    --wolai-callout-border-color: #ddd;
    --wolai-inline-code-color: #4d709e;
    --wolai-editor-operate-color: #C1B8B8;
    --wolai-link-node-color: #544c4c;
    --wolai-link-node-line-color: #e8e6e6;
    --wolai-link-node-hover-color: #231e1e;
    --wolai-bi-link-popover-color: rgba(0, 0, 0, 0.1);
    --wolai-bi-link-text-color: #df5659;
    --wolai-bi-link-text-bg: rgba(204, 112, 112, 0.1);
    --wolai-drag-line-color: rgba(221, 221, 221, 0.7);
    --wolai-katex-error-color: #8c8282;
    --wolai-loading-color: #212529;
    --wolai-setting-label: #aca5a5;
    --wolai-sidebar-bg: #F9F8F8;
    --wolai-workspace-name-color: #333;
    --wolai-sidebar-tool-color: #9C9292;
    --wolai-sidebar-tree-node-color: #655757;
    --wolai-sidebar-tree-node-selected-color: #251E1E;
    --wolai-sidebar-tree-node-selected-bg: #EEECEC;
    --wolai-sidebar-footer-color: #5C5555;
    --wolai-editor-bg: #ffffff;
    --wolai-editor-color: #212529;
    --wolai-code-node-color: #333940;
    --wolai-header-page-title-color: #251E1E;
    --wolai-header-splitter-color: #ddd;
    --wolai-header-lock-color: rgba(55, 53, 47, 0.4);
    --wolai-code-node-bg: #F6F5F5;
    --wolai-code-node-btn-bg: rgba(255, 255, 255, 0.85098);
    --wolai-network-btn-color: #4E4747;
    --wolai-network-btn-bg: #f7f6f6;
    --wolai-network-bottom-shortcut-color: #9C9393;
    --wolai-splitter-color: #ddd;
    --wolai-modal-bg: white;
    --wolai-modal-opacity-bg: rgba(255, 255, 255, 0.95);
    --wolai-modal-color: #554C4C;
    --wolai-modal-desc-color: rgba(55, 53, 47, 0.4);
    --wolai-modal-hover-bg: #f1efef;
    --wolai-modal-icon-selected-color: #313333;
    --wolai-modal-icon-color: #BFB9B9;
    --wolai-more-btn-bg: rgba(55, 53, 47, 0.08);
    --wolai-update-modal-color: #8C8282;
    --wolai-tree-node-drag-bg: #F2D8D8;
    --wolai-import-icon-bg: rgba(207, 86, 89, 0.1);
    --wolai-float-menu-border-color: #f7f6f6;
    --wolai-float-menu-no-data-color: #D2CCCC;
    --wolai-float-menu-no-text-color: rgba(55, 53, 47, 0.2);
    --wolai-float-menu-hover-border-color: #C2B7B7;
    --wolai-float-menu-hover-bg: #F7F6F6;
    --wolai-float-menu-h1-color: #312727;
    --wolai-float-menu-h2-color: #554c4c;
    --wolai-float-menu-h3-color: #7d7676;
    --wolai-float-menu-h4-color: #7d7676;
    --wolai-float-menu-h5-color: #7d7676;
    --wolai-svg-icon-000000: #000000;
    --wolai-svg-icon-928787: #928787;
    --wolai-svg-icon-312727: #312727;
    --wolai-svg-312727: #312727;
    --wolai-svg-928787: #928787;
    --wolai-svg-BCB3B3: #BCB3B3;
    --wolai-svg-FFFFFF: #FFFFFF;
    --wolai-svg-554C4C: #554C4C;
    --wolai-svg-8C8282: #8C8282;
    --wolai-svg-CF5659: #df5659;
    --wolai-svg-251E1E: #251E1E;
    --wolai-svg-DBD1D1: #DBD1D1;
    --wolai-svg-E1DADA: #E1DADA;
    --wolai-svg-C5BEBE: #C5BEBE;
    --wolai-svg-DDDDDD: #DDDDDD;
    --wolai-svg-746868: #746868;
    --wolai-svg-4E4747: #4E4747;
    --wolai-text-action-bar-normal: #312727;
    --wolai-text-action-bar-disabled: #DDDDDD;
    --wolai-inter-svg-312727: #312727;
    --wolai-sidebar-footer-svg-928787: #928787;
    --wolai-code-cdata: #909faf;
    --wolai-code-punctuation: #999;
    --wolai-code-boolean: #905;
    --wolai-code-attr-name: #690;
    --wolai-code-string: #9a6e3a;
    --wolai-code-atrule: #07a;
    --wolai-code-class-name: #dd4a68;
    --wolai-code-important: #e90;
    --wolai-svg-empty-page: #BCB3B3;
    --wolai-svg-page: #554C4C;
    --wolai-todo-animate: #e3dada;
    --wolai-color-8c8282: #8c8282;
    --wolai-null-tree-icon: rgba(188, 179, 179, 0.3);
}